/* Minimalist Scrollbar */
.minimal-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}
